<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="icon" type="image/png" th:href="@{/Images/icon.png}">
<title>Cek Mutasi</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" th:href="@{/css/West-bank.css}">
</head>

<body class="home-body">
	<div class="container">
		<div class="row">
			<div class="all">
				<div class="header">
					<img src="https://i.imgur.com/AkVFWPz.png" alt="WestBank-logo"
						class="home-logo">
					<div class="menu">
						<nav class="navbar navbar-expand-lg navbar-dark bg-custom"
							style="z-index: 20">
							<!-- Brand -->
							<a class="navbar-brand" style="color: #c7e6ff;" href="#">West-Bank</a>

							<!-- Toggler/collapsibe Button -->
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#collapsibleNavbar">
								<span class="navbar-toggler-icon"></span>
							</button>

							<!-- Navbar links -->
							<div class="collapse navbar-collapse" id="collapsibleNavbar">
								<ul class="navbar-nav">
									<li class="nav-item"><a class="nav-link"
										th:href="@{/beranda}">Beranda</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/nasabah/ceksaldo}">Cek Saldo</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/nasabah/transfer}">Transfer</a></li>
									<li class="nav-item dropdown"><a
										class="nav-link dropdown-toggle" href="#" id="navbardrop"
										data-toggle="dropdown"> Setor Tunai </a>
										<div class="dropdown-menu">
											<a class="dropdown-item" th:href="@{/nasabah/setor}">Transaksi
												Setor Tunai</a> <a class="dropdown-item"
												th:href="@{/nasabah/setor/status}">Status Setor Tunai</a>
										</div></li>
									<li class="nav-item active"><a class="nav-link"
										th:href="@{/nasabah/mutasi}">Cek Mutasi</a></li>
									<li class="nav-item dropdown"><a
										class="nav-link dropdown-toggle" href="#" id="navbardrop"
										data-toggle="dropdown"> Pengaturan </a>
										<div class="dropdown-menu">
											<a class="dropdown-item" th:href="@{/nasabah/ubahpassword}">Ubah
												Password</a> <a class="dropdown-item"
												th:href="@{/nasabah/ubahpin}">Ubah PIN</a>
										</div></li>
									<li class="nav-item logout-icon"><a class="navbar-brand"
										onclick="return confirm('apakah anda yakin ingin keluar dari sistem?')"
										style="color: #ff6565;" th:href="@{/logout}"> <i
											class="fas fa-sign-out-alt"></i> Logout
									</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
				<div class="content data-mutasi">
					<h3>Mutasi Rekening</h3>
					<table
						style="background-color: #0925723b; width: 92%; color: black; margin-bottom: 8px;">
						<tr>
							<td width="20%">No.Rekening</td>
							<td width="80%">: <label th:text="${tbUsers.tbRekening.noRek}"></td>
						</tr>
						<tr>
							<td>Periode</td>
							<td>: <label th:text="${rangePeriode}"></label></td>
						</tr>
						<tr>
							<td>Tanggal Inquiry</td>
							<td>: <label th:text="${#calendars.format(#calendars.createNow(), 'dd-MMM-yyyy HH:mm:ss')}"></label></td>
						</tr>
						<tr>
							<td>Jenis Transaksi</td>
							<td>: <label th:text="${#strings.capitalize(jnsMutasi)}"></td>
						</tr>
						<tr>
							<td>Saldo</td>
							<td>: <label th:text="'Rp. '+${#numbers.formatDecimal(tbUsers.tbRekening.saldo,3,'POINT',2,'COMMA')}"></td>
						</tr>
					</table>
					<table id="mutasi" class="table table-striped table-bordered"
						style="width: 900px;">
						<thead>
							<tr>
								<th>Tanggal Transaksi</th>
								<th>Jenis Transaksi</th>
								<th>Keterangan</th>
								<th>Nominal</th>
								<th>Saldo Akhir</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tab : ${mutasi}">
								<td
									th:text="${#dates.format(tab.tbTransaksi.tglTransaksi,'dd-MM-yyyy HH:mm:ss')}"></td>
								<td th:text="${tab.jnsMutasi}"></td>
								<td th:text="${tab.tbTransaksi.note}"></td>
								<td
									th:text="'Rp. '+${#numbers.formatDecimal(tab.tbTransaksi.nominal,3,'POINT',2,'COMMA')}"></td>
								<td
									th:text="'Rp. '+${#numbers.formatDecimal(tab.saldoAkhir,3,'POINT',2,'COMMA')}"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="footer">
					<br>
					<p>Copyright 2020 PT West Bank Indonesia Tbk</p>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous">
    </script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous">
    </script>
	<script src="https://kit.fontawesome.com/5c4f979ba0.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script>
        $(document).ready(function () {
            $('#mutasi').DataTable({
                pageLength: 4,
                lengthChange: false,
                order: [
                    [0, "desc"]
                ]
            });
        });
    </script>
</body>

</html>