<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/West-bank.css}">
<link rel="icon" type="image/png" href="https://i.imgur.com/tQl6Pq7.png">
<title>Jenis Tabungan</title>
</head>
<body class="registbody">
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-light bg-light fixed-top">
				<a class="navbar-brand" th:href="@{/login}"> <img
					src="https://i.imgur.com/AkVFWPz.png" height="30"
					alt="logo west bank">
				</a>
			</nav>
			<div class="container form-regist" >
				<h2>Jenis Tabungan</h2>
					<table cellspacing='0' class="table text-center">
					<thead class="thead-dark">
						<tr>
							<th>Jenis Tabungan</th>
							<th>Biaya Admin</th>
							<th>Limit Transaksi</th>
							<th>Bunga</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="JnsTab : ${AllJnsTab}" class="table-light">
						<td th:text="${JnsTab.namaJnsTab}"></td>
						<td th:text="${JnsTab.biayaAdmin}"></td>
						<td th:text="${JnsTab.limitTransaksi}"></td>
						<td th:text="${JnsTab.bunga}"></td>
					</tr>
					</tbody>
					</table>
					<div class="form-group">
						<div class="nextbutton-regist">
							<a th:href="@{/registrasi}" id="btn-submit" class="btn btn-primary">kembali</a>
						</div>
					</div>	
			</div>
		</div>
	</div>
</body>


<footer class="regist"> Copyright 2020 PT West Bank Indonesia
	Tbk</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5c4f979ba0.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</html>