<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="icon" href="img/icon.png" type="image/png">
	<title>Ganti Password</title>
	<link rel="stylesheet" href="/css/style_menu.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
nav {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #000080;
}
nav a {
  font-family:Arial, Helvetica, sans-serif;
  text-decoration:none;
  color:white;
  padding:5px 15px;
  display:inline-block;
}
nav a:hover {
  color:#000;
  background-color:#ddd;
}
</style>
</head>
<body>
 <div class="header">
  </div>
<nav>
  	<a href="/adminVerifiedUsers" style="color:blue;">DATA USER</a>
  	<a href="/adminNewUsers">USER BARU</a>
  	<a href="/adminBlockedUsers"  >BLOCKED USER</a>
  	<a href="/adminTransaksiSetor">ACC SETOR</a>
  </nav>
<div class="content">
<a class="a" href="/adminVerifiedUsers" >Kembali</a>
<h2 class="h1">GANTI PASSWORD</h2>
	<table cellspacing='0' align="center">
		<thead>
			<tr>
				<th>Status</th>
				<th>Username</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>Email</th>
				<th>Jen.Tab</th>
				

			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${user.statusUser}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.nama}"></td>
				<td th:text="${user.alamat}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.tbRekening.tbJnsTab.namaJnsTab}"></td>	
			</tr>
		</tbody>
	</table>
</div>
<div>
	<form class="box" action="/adminChangesPasswordEnd" method="post">
		<p th:text="${msg}"></p>
		<input type="hidden" name="idUser" th:value="${user.idUser}">
		<input type="password" name="password" id="pw1" placeholder="masukkan password">
		<input type="password" name="confirmedPassword" id="pw2" placeholder="masukkan kembali">
		<button type="submit" class="btn btn-primary">Simpan</button>
	</form>

<script type="text/javascript">
    window.onload = function () {
        document.getElementById("pw1").onchange = validatePassword;
        document.getElementById("pw2").onchange = validatePassword;
    }

    function validatePassword(){
    var pass2=document.getElementById("pw2").value;
    var pass1=document.getElementById("pw1").value;
    if(pass1!=pass2)
        document.getElementById("pw2").setCustomValidity("Passwords Tidak Sama, Coba Lagi");
    else
        document.getElementById("pw2").setCustomValidity('');
    }
</script>
</body>
</html>