<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/5c4f979ba0.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="Images/icon.png">
  <title>Cek Mutasi</title>
  <link rel="stylesheet" href="css/West-bank.css">
</head>

<body class="home-body">
  <div class="container">
    <div class="row">
      <div class="all">
        <div class="header">
          <img src="Images/WestBank.png" alt="logo" class="home-logo">
          <div class="menu">
            <nav class="navbar navbar-expand-lg navbar-dark bg-custom" style="z-index: 100">
              <!-- Brand -->
              <a class="navbar-brand" href="#">West-Bank</a>

              <!-- Toggler/collapsibe Button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Navbar links -->
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Beranda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cek Saldo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Transfer</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      Setor Tunai
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="">Transaksi Setor Tunai</a>
                      <a class="dropdown-item" href="">Status Setor Tunai</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Cek Mutasi</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      Pengaturan
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Ubah Password</a>
                      <a class="dropdown-item" href="#">Ubah PIN</a>
                    </div>
                  </li>
                  <li class="nav-item my-2 my-lg-0">
                    <a class="navbar-brand" href="#">
                      <i class="fas fa-sign-out-alt"></i>
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="content">
          <h4>Mutasi Rekening</h4>
          <div class="sub-content-cek-mutasi">
            <div class="container mt-3 filter-date">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="nav-item menu-tab">
                  <a class="nav-link active" data-toggle="tab" href="#jangkawaktu">Jangka Waktu</a>
                </li>
                <li class="nav-item menu-tab">
                  <a class="nav-link" data-toggle="tab" href="#periode">Periode</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div id="jangkawaktu" class="container tab-pane active range"><br>
                  <form th:action="@{/transaksi}" th:object="${formMutasi}" method="post">
                    <div class="row">
                      <div class="col-md-5">
                        <div>No Rekening</div>
                        <div><label for="sel1">Jenis Transaksi</label></div>
                      </div>
                      <div class="col-md-7">
                        <div class="cek-saldo-border1">
                          <label th:value="${formMutasi.noRek}" th:text="${formMutasi.noRek}"></label>
                          <input type="hidden" th:field="*{noRek}" id="noRek" placeholder="noRek" readonly>
                        </div>
                        <div>
                          <select class="form-control" th:field="*{jnsMutasi}" id="sel1" name="sellist1">
                            <option value="semua">Semua Transaksi</option>
                            <option value="uang masuk">Transaksi Masuk</option>
                            <option value="uang keluar">Transaksi Keluar</option>
                          </select>
                          <span class="text-danger" th:if="${#fields.hasErrors('jnsMutasi')}" th:errors="*{jnsMutasi}"></span>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-5">
                        <div style="font-size: small; text-align: center;"><label for="dateStart">Tanggal Awal</label>
                        </div>
                        <div><input type="date" class="form-control" id="dateStart" name="startDate"
                            th:field="*{startDate}"></div>
                      </div>
                      <div class="col-md-1">
                      </div>
                      <div class="col-md-5">
                        <div style="font-size: small; text-align: center;"><label for="dateEnd">Tanggal Akhir</label>
                        </div>
                        <div><input type="date" class="form-control" id="dateEnd" name="endDate" th:field="*{endDate}">
                        </div>
                      </div>
  					  <span class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
                      <p style="font-size: small;">Note: Rentang maksimum tanggal awal dan akhir adalah 30 hari.</p>

                      <div class="next-button-mutasi">
                        <button type="submit" class="btn btn-primary" role="button"
                          onclick="dateFilter()">Lanjut</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div id="periode" class="container tab-pane fade"><br>
                  <form th:action="@{/transaksi1}" th:object="${formMutasi}" method="post">
                    <div class="row">
                      <div class="col-md-5">
                        <div>No Rekening</div>
                        <div><label for="sel1">Jenis Transaksi</label></div>
                      </div>
                      <div class="col-md-7">
                        <div class="cek-saldo-border1">
                          <label th:value="${formMutasi.noRek}" th:text="${formMutasi.noRek}"></label>
                          <input type="hidden" th:field="*{noRek}" id="noRek" placeholder="noRek" readonly>
                        </div>
                        <div>
                           <select class="form-control" th:field="*{jnsMutasi}" id="sel1" name="sellist1">
                             <option value="semua">Semua Transaksi</option>
                             <option value="uang masuk">Transaksi Masuk</option>
                             <option value="uang keluar">Transaksi Keluar</option>
                           </select>
                           <span class="text-danger" th:if="${#fields.hasErrors('jnsMutasi')}" th:errors="*{jnsMutasi}"></span>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="form-check radio-content">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio" th:field="*{periode}"
                          value="sehari" checked>Hari ini
                      </label>
                    </div>
                    <div class="form-check radio-content">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio" th:field="*{periode}"
                          value="seminggu">Satu minggu terakhir
                      </label>
                    </div>
                    <div class="form-check radio-content">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio" th:field="*{periode}"
                          value="sebulan">Satu bulan terakhir
                      </label>
                    </div>
                     <span style="color: red" th:if="${#fields.hasErrors('periode')}" th:errors="*{periode}"></span>
                    <div class="next-button-mutasi2">
                      <button type="submit" class="btn btn-primary" role="button" onclick="dateFilter()">Lanjut</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <br>
          <p>Copyright 2020 PT West Bank Indonesia Tbk</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="js/West-bank.js" async></script>
</body>

</html>