<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
    <form th:action="@{/mutasi1}" th:object="${formMutasi}" method="post">
        <div>
            <label>No Rek: </label>
            <input type="text" th:field="*{noRek}" id="noRek" placeholder="noRek"  readonly>
            <span th:if="${#fields.hasErrors('noRek')}" th:errors="*{noRek}"></span>
        </div>  
        <div>
        <label>Jenis Transaksi: </label>
        <select id="jnsMutasi" th:field="*{jnsMutasi}">
		  <option value="SEMUA">SEMUA</option>
		  <option value="UANG MASUK">UANG MASUK</option>
		  <option value="UANG KELUAR">UANG KELUAR</option>
		</select>
        </div>
        <div>
          <label>Start date: </label>
		  <input type="date" name="startDate" th:field="*{startDate}" id="startDate" required><br>
        </div>
        
        <div>
          <label>End date: </label>
		  <input type="date" name="endDate" th:field="*{endDate}" id="endDate" required><br>
        </div>
        <div>
            <input type="submit" value="Next">
        </div>
    </form>

    <p>page mutasi</p>
</body>

</html>