<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>

        
        <div>
            <label>Jenis Transaksi: </label>
            <label th:value="${formTransferValidationPage.jnsTransaksi}"  th:text="${formTransferValidationPage.jnsTransaksi}"></label>
        </div>
        
        <div>
            <label>Tanggal: </label>
            <label th:value="${formTransferValidationPage.tglTransaksi}"  th:text="${formTransferValidationPage.tglTransaksi}"></label>
        </div>
        
        <div>
            <label>No Rek: </label>
             <label th:value="${formTransferValidationPage.noRek}"  th:text="${formTransferValidationPage.noRek}"></label>
        </div>
        
        <div>
            <label>No Rek Tujuan: </label>
            <label th:value="${formTransferValidationPage.noRekTujuan}"  th:text="${formTransferValidationPage.noRekTujuan}"></label>
        </div>
        
        <div>
            <label>Nama Penerima: </label>
             <label th:value="${formTransferValidationPage.namaPenerima}"  th:text="${formTransferValidationPage.namaPenerima}"></label>
        </div>
        
        <div>
            <label>Nominal: </label>
             <label th:value="${formTransferValidationPage.nominal}"  th:text="${formTransferValidationPage.nominal}"></label>
        </div>
        <div>
            <label>Keterangan: </label>
             <label th:value="${formTransferValidationPage.keterangan}"  th:text="${formTransferValidationPage.keterangan}"></label>
        </div>
        
        <div>
        <a th:href="@{/home}">
            <input type="button" value="Submit">
         </a>
        </div>
    

    <p>page validation transfer</p>
</body>

</html>