<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
    <form th:action="@{/transfer}" th:object="${formTransferPage}" method="post">
        <div>
            <label>No Rek: </label>
            <input type="text" th:field="*{noRek}" id="noRek" placeholder="noRek"  readonly>
            <span th:if="${#fields.hasErrors('noRek')}" th:errors="*{noRek}"></span>
        </div>
        <div>
            <label>No Rek Tujuan: </label>
            <input type="text" th:field="*{noRekTujuan}" id="noRekTujuan" placeholder="noRekTujuan">
            <span th:if="${#fields.hasErrors('noRekTujuan')}" th:errors="*{noRekTujuan}"></span>
        </div>
        <div>
            <label>Nominal: </label>
            <input type="text" th:field="*{nominal}" id="nominal" placeholder="nominal">
            <span th:if="${#fields.hasErrors('nominal')}" th:errors="*{nominal}"></span>
        </div>
        <div>
            <label>Keterangan: </label>
            <input type="text" th:field="*{keterangan}" id="keterangan" placeholder="keterangan">
            <span th:if="${#fields.hasErrors('keterangan')}" th:errors="*{keterangan}"></span>
        </div>
        <div>
            <input type="submit" value="Next">
        </div>
    </form>

    <p>page transfer</p>
</body>

</html>