<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<h1>HALAMAN KONFIRMASI</h1>
	<h1 th:text="Hello + ' ' + ${nama} + ' ' + ${idUser} + ' ' + 'akunbaru' "></h1>
	<p th:text="${keterangan}"></p> 
	<div sec:authorize="hasAnyAuthority('NASABAH', 'ADMIN')">
		<form th:action="@{/logout}">
			<button onclick="return confirm('yakin ingin keluar dari sistem?')"
				type="submit" class="btn btn-danger navbar-btn btn-logout">
				LOGOUT</button>
		</form>
</body>
</html>