<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
<table>
        <thead>
            <tr>
                <th>SALDO AKHIR</th>
                <th>NO REK</th>
                <th>JENIS MUTASI</th>
                <th>NOMINAL</th>
                <th>TGL MUTASI</th>
                <th>TGL MUTASI FORMAT</th>
                <th>KETERANGAN</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tab : ${mutasi}">
				<td th:text="${tab.saldoAkhir}"></td>
				<td th:text="${tab.noRek}"></td>
				<td th:text="${tab.jnsMutasi}"></td>
				<td th:text="${tab.tbTransaksi.nominal}"></td>
				<td th:text="${tab.tglMutasi}"></td>
				<td th:text="${#dates.format(tab.tglMutasi,'dd-MM-yyyy HH:mm:ss')}"></td>				
				<td th:text="${tab.tbTransaksi.note}"></td>				
            </tr>
        </tbody>
    </table>
</body>

</html>