
﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="ISO-8859-1">
	 <title>WEST BANK</title>
	 <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>
	<form class="box"  th:action="@{/postlogin}" method="post">
	<div align="center" th:if="${param.error}"><p style="font-size: 20; color: red;">Username or Password is invalid.</p></div>

	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="Login">
	<button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit" th:text="Login" style="margin-right:10px;"></button>
	<a href="/recover-password">Forgot password?</a>
	<a class="a" th:href="@{/register}">Daftar User Baru</a>
</form>

</body>

</html>