<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
            <link rel="icon" type="image/png" href="https://i.imgur.com/tQl6Pq7.png">
        <title>Registrasi</title>
  		 <link rel="stylesheet" th:href="@{/css/West-bank.css}">
      </head>

<body class="registbody">
    <nav class="navbar navbar-light bg-light fixed-top">
       <a class="navbar-brand" th:href="@{/login}">
            <img th:src="@{image/WestBank.png}" height="30" alt="logo west bank">
        </a>
    </nav>
    <div class="container">
        <h2>Registrasi Nasabah Baru</h2>
        <form class="form-validasi" th:action="@{/registrasi/sukses}" method="post" th:object="${tbUsers}">
            <p>Silahkan periksa kembali data diri anda.</p>
            <table>
                <tr>
                    <td width="150px">Nama</td>
                    <td><span th:text="': ' + ${tbUsers.nama}"></span></td>
                </tr>
                <tr>
                    <td>No KTP</td>
                    <td><span th:text="': ' + ${tbUsers.noKtp}"></span></td>
                </tr>
<!--                <tr>
                    <td>Tanggal Lahir</td>
                    <td> <span>: </span> Tampilkan Tanggal Lahir</td>
                </tr>-->  
                <tr>
                    <td>No Handphone</td>
                    <td><span th:text="': ' + ${tbUsers.noHp}"></span></td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td><span th:text="': ' + ${tbUsers.alamat}"></span></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><span th:text="': ' + ${tbUsers.email}"></span></td>
                </tr>
	            <tr>
                    <td>Jenis Tabungan</td>
                    <td><span th:text="': ' + ${tbUserJnsTmp.TbJnsTab.namaJnsTab}"></span></td>
                </tr>     
                <tr>
                    <td>Username</td>
                    <td><span th:text="': ' + ${tbUsers.username}"></span></td>
                </tr>
              </table>
          <!--     <input type="hidden" name="tbUsers" th:value="${tbUsers}"> -->
            <div class="registbutton">
                <button type="submit" class="btn btn-success btn-lg" >Daftar</button>
            </div>
            <div class="back-button">
                <a th:href="@{/registrasi}" class="btn btn-outline-dark btn-sm" role="button">Kembali</a>
                </div>
        </form>

      </div>

<footer class="validregist"> Copyright 2020 PT West Bank Indonesia Tbk</footer>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>