<!doctype html>
<html lang="en" xmlns:th="http://www.thymenleaf.org">
  <head>
  
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5c4f979ba0.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" th:href="@{Images/icon.png}">
    <title>Setor Tunai</title>
    
     <link rel="stylesheet" href="/West-bank.css">
  </head>
  
  <body class="home-body">
    <div class="all">
        <div class="header">
            <img src="Images/WestBank.png" alt="logo"  class="home-logo" >
            <div class="menu">
            <div class="container mt-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cek Saldo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transfer</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         Setor Tunai
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" th:href="@{/setorForm}">Transaksi Setor Tunai</a>
                          <a class="dropdown-item" th:href="@{/statusSetor}">Status Setor Tunai</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cek Mutasi</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         Pengaturan
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Ubah Password</a>
                          <a class="dropdown-item" href="#">Ubah PIN</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <div class="logout">
                        <a class="navbar-brand" href="#">
                          <i class="fas fa-sign-out-alt"></i>
                          Logout
                        </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="content">
        <form th:action="@{/setor}" method="post" th:object="${formTransaksi}">
            <h2>Setor Tunai</h2>
            <div class="sub-content-setor">
                <table>
                    <tr>
                        <td width="150px">No Rekening</td>
						<td><input type="text" id="noRek" name="noRek" class="form-control" th:field="*{noRek}" th:value="${noRek}" readonly /></td>
						<td><span th:if="${#fields.hasErrors('noRek')}" th:errors="*{noRek}" ></span></td>
                    </tr>
                    <tr>
                        <td><label for="nominal">Nominal</label></td>
						<td><input type="text"  name="nominal" th:field="*{nominal}"  class="form-control" id="nominal" placeholder="masukkan nominal" /></td>
						<td><span th:if="${#fields.hasErrors('nominal')}" th:errors="*{nominal}"></span></td>
                    </tr>
                </table>
            </div>

            <div class="nextbutton2">
                <input type="submit" class="btn btn-primary" role="button" value="Lanjut"/>
            </div>
          </form> 
        </div>
        
       
        <div class="footer">
             <br><p>Copyright 2020 PT West Bank Indonesia Tbk</p> 
        </div>
     </div>
       

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>