<!doctype html>
<html lang="en" xmlns:th="http://www.thymenleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5c4f979ba0.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" th:href="@{/Images/icon.png}">
    <title>Setor Tunai</title>
    <link rel="stylesheet" th:href="@{/css/West-bank.css}">

    <link rel="icon" type="image/png" href="https://i.imgur.com/tQl6Pq7.png">
    <title>Setor Tunai</title>    
<link rel="stylesheet" th:href="@{/css/West-bank.css}">

  </head>
  <body class="home-body">
    <div class="all">
        <div class="header">

            <img th:src="@{/Images/WestBank.png}" alt="logo"  class="home-logo" >

            <img src="https://i.imgur.com/AkVFWPz.png" alt="logo"  class="home-logo" >

            <div class="menu">
            <div class="container mt-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/ceksaldo}">Cek Saldo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transfer</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         Setor Tunai
                        </a>
                        <div class="dropdown-menu">

                          <a class="dropdown-item" th:href="@{/nasabah/setor}">Transaksi Setor Tunai</a>
                          <a class="dropdown-item" th:href="@{/nasabah/setor/status}">Status Setor Tunai</a>

                          <a class="dropdown-item" th:href="@{/home/setorForm}">Transaksi Setor Tunai</a>
                          <a class="dropdown-item" th:href="@{/home/statusSetor}">Status Setor Tunai</a>

                        </div>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cek Mutasi</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         Pengaturan
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" th:href="@{/home/Ubahpassword}">Ubah Password</a>
                          <a class="dropdown-item" th:href="@{/home/Ubahpin}">Ubah PIN</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <div class="logout">
                        <a class="navbar-brand" th:href="@{/logout}">
                          <i class="fas fa-sign-out-alt"></i>
                          Logout
                        </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        
        <div class="content">
            <h2>Setor Tunai</h2>
            <div class="sub-content-setor-status">
                <table>
                	<tr>
						<td>No.Rekening : </td>
						<td th:text="${formTransaksi.noRekTujuan}"></td>
					</tr>
					<tr>	
						<td>Nominal : </td>
						<td th:text="${formTransaksi.nominal}"></td>
					</tr>
					<tr>	
						<td>Tanggal Transaksi : </td>
						<td th:text="${formTransaksi.tglPengajuan}"></td>
					</tr>
					<tr>	
						<td>Status : </td>
						<td th:text="${formTransaksi.statusTransaksi}"></td>
					</tr>
					
               </table>
               
					<div>Terima Kasih Telah Melakukan Transaksi Setor Tunai,
						Mohon Tunggu Transaksi Anda di Approve oleh Admin,
						 Silakan Cek Status Setor Tunai Anda di Status Transaksi
					 </div>
					
            </div>
            <div class="submit-button">
        <a th:href="@{/home}" class="btn btn-success" role="button">OK</a>
            </div>
        </div>
        
        <div class="footer">
             <br><p>Copyright 2020 PT West Bank Indonesia Tbk</p> 
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>