<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5c4f979ba0.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="Images/icon.png">
    <title>Transfer</title>
    <link rel="stylesheet" href="css/West-bank.css">
</head>

<body class="home-body">
    <div class="all">
        <div class="header">
            <img src="Images/WestBank.png" alt="logo" class="home-logo">
            <div class="menu">
                <div class="container mt-4">
                    <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cek Saldo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Transfer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Setor Tunai</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cek Mutasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pengaturan</a>
                        </li>
                        <li class="nav-item">
                            <div class="logout">
                                <a class="navbar-brand" href="#">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            <img src="Images/success-icon.png" alt="success-icon" class="success-transfer">
            <h3>Transaksi Berhasil</h3>
            <div class="sub-content-transaksi2">
                <table>
                    <tr>
                        <td width="50%">Jenis Transaksi</td>
                        <td width="50%" style="padding-left:30px">
                            <label th:value="${formTransferValidationPage.jnsTransaksi}"
                                th:text="${formTransferValidationPage.jnsTransaksi}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>Tanggal</td>
                        <td style="padding-left:30px">
                            <label th:value="${formTransferValidationPage.tglTransaksi}"
                                th:text="${formTransferValidationPage.tglTransaksi}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>No Rekening Pengirim </td>
                        <td style="padding-left:30px">
                            <label th:value="${formTransferValidationPage.noRek}"
                                th:text="${formTransferValidationPage.noRek}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>No Rekening Penerima</td>
                        <td style="padding-left:30px">
                            <label th:value="${formTransferValidationPage.noRekTujuan}"
                                th:text="${formTransferValidationPage.noRekTujuan}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>Nama Penerima</td>
                        <td style="padding-left:30px">
                            <label th:value="${formTransferValidationPage.namaPenerima}"
                                th:text="${formTransferValidationPage.namaPenerima}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>Keterangan</td>
                        <td style="padding-left:30px">
                            <label th:value="${formTransferValidationPage.keterangan}"
                                th:text="${formTransferValidationPage.keterangan}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>Nominal</td>
                        <td style="padding-left:30px">
                            <b> <label th:value="${formTransferValidationPage.nominal}"
                                th:text="'Rp. '+${#numbers.formatDecimal(formTransferValidationPage.nominal,3,'POINT',2,'COMMA')}"></label></b>                 
                        </td>
                    </tr>
                </table>

            </div>
            <div class="ok-button">
                <a th:href="@{/home}" class="btn btn-success" role="button">OK</a>
            </div>
        </div>
        <div class="footer">
            <br>
            <p>Copyright 2020 PT West Bank Indonesia Tbk</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>