<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5c4f979ba0.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" th:href="@{/Images/icon.png}">
    <title>Transfer</title>
    <link rel="stylesheet" th:href="@{/css/West-bank.css}">
</head>

<body class="home-body">
    <div class="all">
        <div class="header">
            <img src="https://i.imgur.com/AkVFWPz.png" alt="logo" class="home-logo">
            <div class="menu">
                <div class="container mt-4">
                    <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cek Saldo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Transfer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Setor Tunai</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cek Mutasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pengaturan</a>
                        </li>
                        <li class="nav-item">
                            <div class="logout">
                                <a class="navbar-brand" href="#">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <form th:action="@{/nasabah/transfer/konfirmasi}" th:object="${formTransferValidationPage}" method="post">
                <h2>Transaksi Transfer</h2>
                <div class="sub-content-transaksi2">
                    <table>
                        <tr>
                            <td width="50%">Jenis Transaksi</td>
                            <td width="50%">
                                <label th:value="${formTransferValidationPage.jnsTransaksi}"
                                    th:text="${formTransferValidationPage.jnsTransaksi}"></label> <input type="hidden"
                                    th:field="*{jnsTransaksi}" id="jnsTransaksi" placeholder="jnsTransaksi"> <span
                                    th:if="${#fields.hasErrors('jnsTransaksi')}"
								th:errors="*{jnsTransaksi}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Tanggal</td>
                        <td>
                            <label th:value="${formTransferValidationPage.tglTransaksi}"
                                th:text="${formTransferValidationPage.tglTransaksi}"></label> <input type="hidden"
                                th:field="*{tglTransaksi}" id="tglTransaksi" placeholder="tglTransaksi"> <span th:if="${#fields.hasErrors('tglTransaksi')}"
								th:errors="*{tglTransaksi}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td >No Rekening Pengirim </td>
                        <td>
                            <label th:value="${formTransferValidationPage.noRek}"
                                th:text="${formTransferValidationPage.noRek}"></label> <input type="hidden"
                                th:field="*{noRek}" id="noRek" placeholder="noRek">
                            <span th:if="${#fields.hasErrors('noRek')}" th:errors="*{noRek}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>No Rekening Penerima</td>
                        <td>
                            	<label th:value="${formTransferValidationPage.noRekTujuan}"
                            	    th:text="${formTransferValidationPage.noRekTujuan}"></label> <input type="hidden"
                            	    th:field="*{noRekTujuan}" id="noRekTujuan" placeholder="noRekTujuan"> <span th:if="${#fields.hasErrors('noRekTujuan')}"
								th:errors="*{noRekTujuan}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Nama Penerima</td>
                        <td>
                            <label th:value="${formTransferValidationPage.namaPenerima}"
                                th:text="${formTransferValidationPage.namaPenerima}"></label> <input type="hidden"
                                th:field="*{namaPenerima}" id="namaPenerima" placeholder="namaPenerima"> <span th:if="${#fields.hasErrors('namaPenerima')}"
								th:errors="*{namaPenerima}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Keterangan</td>
                        <td>
                            <label th:value="${formTransferValidationPage.keterangan}"
                                th:text="${formTransferValidationPage.keterangan}"></label> <input type="hidden"
                                th:field="*{keterangan}" id="keterangan" placeholder="keterangan"> <span th:if="${#fields.hasErrors('keterangan')}"
								th:errors="*{keterangan}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Nominal</td>
                        <td>
                            <label th:value="${formTransferValidationPage.nominal}"
                                th:text="'Rp. '+${#numbers.formatDecimal(formTransferValidationPage.nominal,3,'POINT',2,'COMMA')}"></label> <input type="hidden"
                                th:field="*{nominal}" id="nominal" placeholder="nominal"> <span
                                th:if="${#fields.hasErrors('nominal')}" th:errors="*{nominal}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="pin-transaksi"> PIN Transaksi</label></td>
                        <td>
                        <input type="number" style = "-webkit-text-security:disc" th:field="*{pin}" class="form-control" id="pin-transaksi" placeholder="masukkan PIN transaksi">
                        <span th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}" style="color: red"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="next-button">
            <input type="submit" class="btn btn-primary" value="Lanjut"></a>
            </div>
            </form>
            <div class="back-button">
                <a th:href="@{/nasabah/transfer}"><i class="fas fa-chevron-circle-left fa-lg"></i>Back</a>
            </div>
        </div>
    <div class="footer"> 
        <br> <p>Copyright 2020 PT West Bank Indonesia Tbk</p> 
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>