<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5c4f979ba0.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="https://i.imgur.com/tQl6Pq7.png">
    <title>Pengaturan</title>
    <link rel="stylesheet" th:href="@{/css/West-bank.css}">
  </head>
  <body class="home-body">
    <div class="all">
        <div class="header">
            <img src="https://i.imgur.com/AkVFWPz.png" alt="logo"  class="home-logo" >
            <div class="menu">
             <div class="container mt-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{/home}">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/ceksaldo}">Cek Saldo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transfer</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         Setor Tunai
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" th:href="@{/home/setorForm}">Transaksi Setor Tunai</a>
                          <a class="dropdown-item" th:href="@{/home/statusSetor}">Status Setor Tunai</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cek Mutasi</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         Pengaturan
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" th:href="@{/home/Ubahpassword}">Ubah Password</a>
                          <a class="dropdown-item" th:href="@{/home/Ubahpin}">Ubah PIN</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <div class="logout">
                        <a class="navbar-brand" th:href="@{/logout}">
                          <i class="fas fa-sign-out-alt"></i>
                          Logout
                        </a>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </div>
        <div class="content">
       <form th:action="@{/home/Updatepassword}" name="password" method="post" th:object="${password}">
            <h2>Ubah Password</h2>
            <div class="sub-content-pengaturan">
                <table height="10px">
                    <tr>
                        <td width="150px"><label for="pwd">Password Lama</label></td>
                    <td> <input th:field="*{oldpassword}" type="password" class="form-control" id="pwd" placeholder="masukkan password lama"></td>
                </tr>
                <tr>
                    <td><label for="pwd-new">Password Baru</label></td>
                    <td><input th:field="*{newpassword}" type="password" class="form-control" onchange="validatePwd2()" id="pwd-new" placeholder="masukkan password baru"></td>
                    <span  class="text-danger" th:if="${#fields.hasErrors('newpassword')}" th:errors="*{newpassword}"></span>
                </tr>
                <tr>
                    <td><label for="pwd-new2"> Konfirmasi Password Baru</label></td>
                    <td><input  type="password" class="form-control" onchange="checkPassword2()" id="pwd-new2" placeholder="konfirmasi password baru"></td>
                </tr>
                </table>
          <div class="ok-button2">
            <button type="submit" onclick="validateAll"  id="btn-submit" class="btn btn-primary">OK</button>
           </div>
        </div>
        </form>
       </div>
    </div>
        <div class="footer">
                <br> <p>Copyright 2020 PT West Bank Indonesia Tbk</p> 
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="West-bank.js" async></script>  
  </body>
</html>